[Unit]
Description=A simple RSS reader
After=network.target
AssertPathExists=/opt/yarr

[Install]
WantedBy=multi-user.target

[Service]
User=rss
Group=rss
Type=simple
ExecStart= /opt/yarr/yarr -addr "127.0.0.1:{{ yarr.port | quote }}" -db /opt/yarr/yarr.db
WorkingDirectory=/opt/yarr
TimeoutStopSec=20
Restart=on-failure

DevicePolicy=closed
NoNewPrivileges=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallFilter=~@clock @debug @module @mount @obsolete @reboot @setuid @swap
ReadWritePaths=/opt/yarr
PrivateDevices=yes
ProtectSystem=strict
ProtectHome=true
