server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name {{ domain }};

    location /.well-known/acme-challenge/ {
        root /var/www/acme-root;
        try_files $uri =404;
    }

    location / {
        return 403;
    }
}
