# Remove the .html suffix.
location / {
    if ($request_uri ~ ^/(.*)\.html) {
        return 301 /$1$is_args$args;
    }
    try_files $uri $uri.html $uri/ =404;
}

# Prevent image hotlinking.
location ~ .(gif|png|jpg|jpeg|ico)$ {
    valid_referers none blocked {{ domain }};
    if ($invalid_referer) {
        return 403;
    }
}
