[Unit]
Description=Overlay network service
After=network-online.target wg-quick.target unbound.service
Wants=network-online.target wg-quick.target unbound.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/overlay-network/overlay-network start
ExecStop=/opt/overlay-network/overlay-network stop

[Install]
WantedBy=multi-user.target
