sfeedpath='/home/{{ admin_username }}/.local/share/sfeed/feeds'

feeds() {
    # dev sites
    feed "nullprogram" "https://nullprogram.com/feed/"
    feed "beepb00p" "https://beepb00p.xyz/atom.xml"
    feed "nayuki" "https://www.nayuki.io/rss20.xml"
    feed "luke smith" "https://lukesmith.xyz/rss.xml"
    feed "bruce schneier" "https://www.schneier.com/feed/atom/"
    feed "ratfactor" "https://ratfactor.com/atom.xml"
    feed "insanity industries" "https://insanity.industries/atom.xml"
    feed "daniel lemire" "https://lemire.me/blog/feed/"
    feed "krebs on security" "https://krebsonsecurity.com/feed/atom/"
    feed "michael stapelberg" "https://michael.stapelberg.ch/feed.xml"
    feed "drew devault" "https://drewdevault.com/blog/index.xml"
    feed "fabien sanglard" "https://fabiensanglard.net/rss.xml"
    feed "susam pal" "https://susam.net/blog/feed.xml"
    feed "eli bendersky" "https://eli.thegreenplace.net/feeds/all.atom.xml"
    feed "educated guesswork" "https://educatedguesswork.org/feed/feed.xml"

    feed "acoup" "https://acoup.blog/feed/"

    # youtube
    feed "yt: bisqwit" "https://www.youtube.com/feeds/videos.xml?channel_id=UCKTehwyGCKF-b2wo0RKwrcg"
    feed "yt: 3blue1brown" "https://www.youtube.com/feeds/videos.xml?channel_id=UCYO_jab_esuFRV4b17AJtAw"
    feed "yt: retro nation" "https://www.youtube.com/feeds/videos.xml?channel_id=UCj06o0LOFU-lFLwGaEOSM7g"
    feed "yt: shiey" "https://www.youtube.com/feeds/videos.xml?channel_id=UCpXwMqnXfJzazKS5fJ8nrVw"
    feed "yt: lex fridman" "https://www.youtube.com/feeds/videos.xml?channel_id=UCSHZKyawb77ixDdsGog4iWA"
    feed "yt: luke smith" "https://www.youtube.com/feeds/videos.xml?channel_id=UC2eYFnH61tmytImy1mTYvhA"
    feed "yt: you suck at cooking" "https://www.youtube.com/feeds/videos.xml?channel_id=UCekQr9znsk2vWxBo3YiLq2w"
    feed "yt: century media" "https://www.youtube.com/feeds/videos.xml?channel_id=UCnK9PxMozTYs8ELOvgMNKFA"
    feed "yt: noble demon" "https://www.youtube.com/feeds/videos.xml?channel_id=UC2X3FMgVqyn1XVdhLF-rmjg"
    feed "yt: nuclear blast" "https://www.youtube.com/feeds/videos.xml?channel_id=UCoxg3Kml41wE3IPq-PC-LQw"
    feed "yt: napalm records" "https://www.youtube.com/feeds/videos.xml?channel_id=UCG7AaCh_CiG6pq_rRDNw72A"
    feed "yt: sargent house" "https://www.youtube.com/feeds/videos.xml?channel_id=UC6B0kJYqT-K-gMacinxn3-g"
    feed "yt: epitaph records" "https://www.youtube.com/feeds/videos.xml?channel_id=UCDE5Ezmxq1bNVak4lmkpCMw"
    feed "yt: the longest johns" "https://www.youtube.com/feeds/videos.xml?channel_id=UC8BvYNPXVXylwSoXGSrfaBA"
    feed "yt: gamescz" "https://www.youtube.com/feeds/videos.xml?channel_id=UCS6nbOke9DAME3_5BzwVVUA"
    feed "yt: harald baldr" "https://www.youtube.com/feeds/videos.xml?channel_id=UCKr68ZJ4vv6VloNdnS2hjhA"
    feed "yt: bald and bankrupt" "https://www.youtube.com/feeds/videos.xml?channel_id=UCxDZs_ltFFvn0FDHT6kmoXA"
    feed "yt: natasha's adventures" "https://www.youtube.com/feeds/videos.xml?channel_id=UCWf43GShTqMDdJN9pICYd2Q"
    feed "yt: primitive technology" "https://www.youtube.com/feeds/videos.xml?channel_id=UCAL3JXZSzSm8AlZyD3nQdBA"
    feed "yt: afm records" "https://www.youtube.com/feeds/videos.xml?channel_id=UCKdA5J4-opjla1aWOjF74mg"
    feed "yt: modern history tv" "https://www.youtube.com/feeds/videos.xml?channel_id=UCMjlDOf0UO9wSijFqPE9wBw"
    feed "yt: inigo quilez" "https://www.youtube.com/feeds/videos.xml?channel_id=UCdmAhiG8HQDlz8uyekw4ENw"
    feed "yt: railcowgirl" "https://www.youtube.com/feeds/videos.xml?channel_id=UCj-Xm8j6WBgKY8OG7s9r2vQ"
}
