MusicFolder = "{{ navidrome.dest }}"
ScanSchedule = "@every 24h"
LogLevel = "warn"
Port = {{ navidrome.port }}
Address = "127.0.0.1"
EnableTranscodingConfig = false
TranscodingCacheSize = 0
AutoImportPlaylists = false
DefaultTheme = "Dark"
EnableCoverAnimation = false
EnableDownloads = false
SessionTimeout = "12h"
AuthRequestLimit = 5
AuthWindowLength = "20s"
LastFM.Enabled = false
ListenBrainz.Enabled = false
EnableGravatar = false
EnableExternalServices = false
EnableFavourites = false
EnableStarRating = false
EnableUserEditing = true
